<font size='6'> Fairfax County Housing Values </font> <br style = 'line-height: 50px;'>
This project applies regression techniques to predict future housing market values for Fairfax County, VA. This area has experienced rapid development in the past and it would be insightful to see what the future could hold for this county, and by extension, the greater DC Metropolitan Area.

# Preparing the data
All data used for this project was obtained from the [Fairfax County website's demographic reports](https://www.fairfaxcounty.gov/demographics/reports). It spans the years from 1991 to 2018 and includes the estimated population, number of households, the number of housing units, median household income, and the median market value for each year. <br>
<font size='1.5'> *****Note that some data for the median household income is missing and will be dealt with appropriately**</font>

In [15]:
# Importing the libraries
from sklearn.impute import SimpleImputer
from IPython import get_ipython
from IPython.core.interactiveshell import InteractiveShell
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
np.set_printoptions(precision=2)

# Display all cell outputs
InteractiveShell.ast_node_interactivity = 'all'
ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

# Importing dataset
df = pd.read_csv(
    'https://rahbarprojects.s3.amazonaws.com/fairfax_county_housing.csv')
X = df.iloc[:, :-1].values
y = df.iloc[:, 5].values

# Filling in missing data
imputer = SimpleImputer()
imputer = imputer.fit(X[:, 4:5])
X[:, 4:5] = imputer.transform(X[:, 4:5])

# Converting float values to int
X = X.astype(int)

The independent variable dataset with missing values filled in :

In [16]:
pd.DataFrame(X, columns=['year', 'population',
                         'households', 'housing units', 'median household income'])

    year  population  households  housing units  median household income
0   1991      827119      296300         308202                    61000
1   1992      837141      301900         312324                    94082
2   1993      851858      307000         316723                    64000
3   1994      863100      312000         322007                    94082
4   1995      879401      317000         328151                    70000
5   1996      899650      323300         334123                    94082
6   1997      912126      328131         339119                    72000
7   1998      931452      338000         345969                    94082
8   1999      946371      344600         352741                    81050
9   2000      969700      353100         358960                    82000
10  2001      984366      358100         363333                    84683
11  2002     1004435      363700         370551                    85310
12  2003     1012090      366600         373902                    80753
13  2004     1022300      370300         378639                    88133
14  2005     1033646      376700         385634                    94610
15  2006     1037311      379000         388820                   100318
16  2007     1041507      381227         391138                   105241
17  2008     1045694      381700         391700                   107448
18  2009     1052000      384400         394600                   102499
19  2010     1081700      386100         396386                   103010
20  2011     1096798      394127         403929                   105797
21  2012     1109725      398733         408119                   107096
22  2013     1111600      399500         409100                   111079
23  2014     1116200      401000         410000                   110674
24  2015     1125400      403900         412200                   113208
25  2016     1131900      402400         413700                   115717
26  2017     1142900      405800         415700                   118279
27  2018     1152873      409600         418300                    94082

The dependent variable dataset :

In [17]:
pd.DataFrame(y, columns=['median market value'])

    median market value
0                190100
1                183700
2                183500
3                184400
4                186800
5                186300
6                185700
7                185600
8                192100
9                226800
10               229200
11               265600
12               307600
13               349000
14               431705
15               538940
16               536162
17               502205
18               441679
19               418440
20               429155
21               430855
22               442370
23               447541
24               492126
25               498341
26               505722
27               519560

# Analysis/Modeling
Do work here

# Results
Show graphs and stats here

# Conclusions and Next Steps
Summarize findings here